<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="center">
    <h1>Admin Dashboard</h1>
    <%- include('../partials/navBar') %>
    <br>
    <hr>
    <h2>Welcome, <%= user.email %>!</h2>
    
  
    <!-- Links based on user permissions -->
     <div class="flex-container">
    <div class="snav-bar">
        <ul>
        <% if (user && user.permissions && user.permissions.includes('camera_access')) { %>
            <li><a href="/camera">Camera Page</a></li>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/admin">Admin Page</a>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/admin/stream">Stream</a>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/settings">Settings</a>
            
        <% } %>
        <li><a href="/admin/stream"> stream</a></li>
    </ul>
    </div>
<div class="content">
    <!-- Container to display messages -->
    <div id="message"></div>
    <div class="table-flex-container">
    <table id="usersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            <% if (users && users.length > 0) { %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td><%= user.roles.join(', ') %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr><td colspan="3">No users found</td></tr>
            <% } %>
        </tbody>
    </table>

<div class="form-flex-container">
    <form id="assignRoleForm" action="/admin/manage-role" method="POST">
        <input type="text" name="userId" value="1">
        <select name="roleName">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <input type="hidden" name="process" value="assign" id="actionType">
        <button type="submit" id="assignButton">Assign Role</button>
        <button type="button" id="removeButton">Remove Role</button>
    </form>

    <div id="message"></div>
</div>



</div>
</div>

</div>

    <%- include('../partials/footer') %>
</div>
