<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="center">
    <h1>Admin Dashboard</h1>
    <%- include('../partials/navBar') %>
    <br>
    <hr>
    <h2>Welcome, <%= user.email %>!</h2>
    
     <div class="flex-container">
    <div class="snav-bar">
        <ul>
        <% if (user && user.permissions && user.permissions.includes('camera_access')) { %>
            <li><a href="/camera">Camera Page</a></li>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/admin">Admin Page</a>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/admin/stream">Stream</a>
        <% } %>
        <% if (user && user.permissions && user.permissions.includes('admin_access')) { %>
            <a href="/admin/settings">Settings</a>
            
        <% } %>
        <li><a href="/admin/stream"> stream</a></li>
    </ul>
    </div>
<div class="content">
    <div id="message"></div>
    <div class="table-flex-container">
    <table id="usersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            <% if (users && users.length > 0) { %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td><%= user.roles.join(', ') %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr><td colspan="3">No users found</td></tr>
            <% } %>
        </tbody>
    </table>


    <div class="form-flex-container">
        <form id="assignRoleForm" action="/admin/manage-role" method="POST">
            <div class="form-flex-row">
            <input type="text" name="userId" placeholder="1" id="form-input">
          <div class="custom-select">
            <div class="select-selected">Role</div>
            <div class="select-items">
              <div data-value="admin">Admin</div>
              <div data-value="user">User</div>
            </div>
            <select name="roleName" id="roleName">
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div>
          <button type="submit" id="assignButton">Assign Role</button>
          <button type="button" id="removeButton">Remove Role</button>

</div>
          <input type="hidden" name="process" value="assign" id="actionType">

        </form>
        <div id="message"></div>
      </div>







</div>
</div>

</div>

    <%- include('../partials/footer') %>
</div>
